$text-color-black100: #1a1a1a;
$text-color-black700:#1a1a1ab3;
$primary-text-color:#a8dd15;
$primary-bg-color:#a8dd15;
$bg-color-black100:#1a1a1a;
$bg-color-f0:#f0f2ec;
$border-color-d3:#d3d3d3;
$primary-border-color:#a8dd15;
$bg-color-f2:#f2f4f7;
$border-color-e4:#e4e4e4;
$text-color-1f:#1f1f1f;
$bg-color-51:#515151;
$text-color-f0:#f0b100;
$text-color-99:#99a1af;
$border-color-f3:#f3f4f6;
$bg-color-f4:#f4f5f0;
$border-color-1a-24: #1a1a1a24;
$border-color-gray800: #00000014;
$border-color-light800:#1a1a1a14;
$text-color-black800: #1a1a1acc;
$text-color-black200: #020817;
$border-xolor-light: #e3e3e3;