@use "../../../../sass/main.scss" as *;
@use "../../../../sass/theme/theme.scss" as *;
@use "../../../../sass/typography/typography.scss" as *;

.ICMarketsCard-section {
    padding: 16px;
    background-color: #fff;
    border: 0.5px solid $primary-border-color;
    border-radius: 16px;
    margin-bottom: 24px;
    transition: .3s ease-in-out;

    div {

        .ICMarketsCard-header {
            padding-bottom: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ICMarketsCard-flex-header {
                display: flex;
                gap: 12px;
                align-items: center;

                .ICMarketsCard-header-logo {
                    background-color: #fff;
                    border-radius: 12px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 64px;
                    height: 64px;

                    img {
                        padding: 3px;
                        border: 1PX solid transparent;
                        border-radius: 6px;
                        width: 100%;
                        height: 100%;
                    }
                }

                .ICMarketsCard-header-content {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    h3 {
                        @include font-22;
                        color: #000;
                    }

                    img {
                        width: 19px;
                        height: 19px;
                    }
                }
            }
        }

        p {
            color: #1a1a1acc;
            @include font-14;
            margin-bottom: 20px;
        }

        .ICMarketsCard-bottom {
            display: flex;
            gap: 10px;
            align-items: center;

            p {
                margin: 0;
                color: $text-color-black100;
                @include font-14;

                &:first-child {
                    text-transform: uppercase;
                }

                &:last-child {
                    padding: 6px 10px;
                    background-color: $bg-color-f2;
                    border-radius: 4px;
                    width: fit-content;
                }
            }
        }
    }

    &:hover{
        transform: translateY(-8px) scale(1.02);

    }
}