@use "../../../sass/main.scss" as *;
@use "../../../sass/theme/theme.scss" as *;
@use "../../../sass/typography/typography.scss" as *;

.trustedPartners-section {
    padding: 100px 0 0 0;
    overflow: hidden;

    @media (max-width:576px) {
        padding: 64px 0 0 0;
    }

    .trustedPartners-conatiner {
        padding: 0 64px;
        max-width: 1640px;
        margin: 0 auto;

        @media (max-width:1024px) {
            padding: 0 20px;
        }

        @media (max-width:576px) {
            padding: 0 16px;
        }

        .trustedPartners-header {
            padding: 0 0 48px 0;

            @media (max-width:576px) {
                padding: 0 0 32px 0;
            }

            h2{
                color: $text-color-black100;
                @include heading-42;
                text-align: center;

                @media (max-width:576px) {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            p{
                color: $text-color-black700;
                @include text-18;
                text-align: center;
                max-width: 650px;
                margin: 0 auto;

                @media (max-width:576px) {
                    @include fonr-16;
                    font-weight: normal;
                }
            }
        }

        .trustedPartners-grid{
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width:1024px) {
                grid-template-columns: 1fr;
            }
        }
    }
}